body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a { text-decoration:none;color:#337ab7 }
* { box-sizing: border-box; outline-style:none }
img { vertical-align: middle }
ol, ul { margin-top: 0; margin-bottom: 10px }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
p { margin: 0 0 10px }
body {
  height: auto;
  min-height: 100%;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.checkbox input[type=checkbox] {
  position: absolute;
  margin: 4px 0 0;
  margin-left: -20px;
  line-height: normal;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper, .main-sidebar {
  background-color: #222d32;
}

/* HEADER */
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.main-header .logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
}

.main-header .logo:hover {
  background-color: #357ca5;
}

.main-header .logo>.logo-mini {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 18px;
}

.main-header .navbar {
  background-color: #3c8dbc;
  margin-left: 50px;
  z-index: 20000;
}

.main-header .navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
  float: right;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-custom-menu>.navbar-nav>li {
  position: relative;
  float: left;
}

.main-header .navbar .nav>li>a {
  color: #fff;
}

.main-header .navbar .nav>li>a:hover {
  background: rgba(0,0,0,0.1);
  color: #f6f6f6;
}

.nav>li>a, .nav>li>span {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.main-header .navbar .nav>li>a>.label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.navbar-nav>.user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

/* SIDEBAR */
.sidebar a {
  color: #b8c7ce;
}
.main-sidebar {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 50px !important;
  z-index: 850;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
}

.user-panel {
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.user-panel > .image > img {
  width: 30px;
  height: 30px;
}

.sidebar-menu {
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu:hover {
  overflow: visible;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li {
  position: relative;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
  margin-right: 0;
}

.sidebar-menu>li>a {
  border-left: 3px solid transparent;
  position: relative;
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu>li.active>a {
  border-left-color: #3c8dbc;
}

.sidebar-menu>li.active>a, .sidebar-menu>li.menu-open>a {
  color: #fff;
  background: #1e282c;
}
.sidebar-menu>li>a>.fa {
  width: 20px;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
  color: #fff;
  background: #1e282c;
}

.sidebar-mini .sidebar-menu>li>a>span {
  display: none !important;
  -webkit-transform: translateZ(0);
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
  border-top-right-radius: 4px;
}

.sidebar-menu li>a>.pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.sidebar-mini .sidebar-menu>li:hover>a>span:not(.pull-right) {
  display: block !important;
  position: absolute;
  width: 180px;
  left: 50px;
}

.sidebar-mini .sidebar-menu>li:hover>a>span {
  top: 0;
  margin-left: -3px;
  padding: 12px 5px 12px 20px;
  background-color: inherit;
}

.sidebar-mini .sidebar-menu>li:hover>a>.pull-right-container {
  position: relative !important;
  float: right;
  width: auto !important;
  left: 180px !important;
  top: -22px !important;
  z-index: 900;
}

.sidebar-menu li>a>.pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
  line-height: 14px;
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
  padding: 0;
  margin-right: 10px;
  -webkit-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

.sidebar-mini .sidebar-menu>li:hover>.treeview-menu {
  top: 44px;
  margin-left: 0;
}

.sidebar-mini .sidebar-menu>li:hover>.treeview-menu {
  display: block !important;
  position: absolute;
  width: 180px;
  left: 50px;
}

.sidebar-mini .sidebar-menu>li>.treeview-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-right-radius: 4px;
}

.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}

.treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.treeview-menu>li {
  margin: 0;
}

.sidebar-menu .treeview-menu>li>a { color: #8aa4af
}

.sidebar-menu .treeview-menu>li.active>a, .sidebar-menu .treeview-menu>li>a:hover {
  color: #fff;
}

.treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu li>a {
  position: relative;
}

.treeview-menu>li>a>.fa {
  width: 20px;
}


/* CONTENT */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-mini .content-wrapper {
  margin-left: 50px !important;
  z-index: 840;
  background-color: #ecf0f5;
}

.content-header {
  background: transparent;
  position: relative;
  padding: 15px 15px 0 15px;
}

.content-header>h1 {
  margin: 0;
  font-size: 24px;
}

.content-header>.breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}

.breadcrumb>li {
  display: inline-block;
}

.content-header>.breadcrumb>li>a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}

.content-header>.breadcrumb>li>a>.fa {
  margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
  content: '>\00a0';
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.nav-tabs-custom>.nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type {
  margin-left: 0;
}
.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #3c8dbc;
}
.nav-tabs-custom>.nav-tabs>li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  cursor: pointer;
}
.nav>li {
  position: relative;
  display: block;
}

.nav-tabs>li>span::selection {background-color: inherit}
.nav-tabs>li>span::-moz-selectionn {background-color: inherit}
.nav-tabs-custom>.nav-tabs>li:first-of-type.active>span {
  border-left-color: transparent;
}
.nav-tabs-custom>.nav-tabs>li.active>span {
  border-top-color: transparent;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs-custom>.nav-tabs>li.active>span, .nav-tabs-custom>.nav-tabs>li.active:hover>span {
  background-color: #fff;
  color: #444;
}
.nav-tabs-custom>.nav-tabs>li>span, .nav-tabs-custom>.nav-tabs>li>span:hover {
  background: transparent;
  margin: 0;
}
.nav-tabs-custom>.nav-tabs>li>span {
  color: #444;
  border-radius: 0;
}
.nav-tabs>li>span {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>span, .nav-tabs>li.active>span:focus, .nav-tabs>li.active>span:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs>li>span {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs-custom>.tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}
.post {
  border-bottom: 1px solid #d2d6de;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #666;
}
.post .user-block {
  margin-bottom: 15px;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
.img-bordered-sm {
  border: 2px solid #d2d6de;
  padding: 2px;
}
.user-block .username {
  font-size: 16px;
  font-weight: 600;
}
.user-block .username, .user-block .description, .user-block .comment {
  display: block;
  margin-left: 50px;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.text-sm {
  font-size: 12px;
}
.link-black {
  color: #666;
}

/* MODAL */
@media (min-width: 768px) {
  .modal-content {
    max-width: 1220px
  }
}

.modal {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  display: flex;
}
/* Modal Content/Box */
.modal-content {
  z-index: 10001;
  margin: 20px auto;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-body {
  display:inline-block;
  position:relative;
}
.modal-info {
  display:inline-block;
  position:absolute;
  top: 10px;
  left:10px;
  width: auto;
  height: auto;
}
/* The Close Button */
.close {
  color: #272727;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ADMIN LTE */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-info {border-top-color: #00c0ef}
.box.box-primary {border-top-color: #3c8dbc}
.box.box-success {border-top-color: #00a65a}
.box.box-danger {border-top-color: #dd4b39}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header.with-border {border-bottom: 1px solid #f4f4f4}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.form-group.has-error .help-block {
  color: #dd4b39;
}
/* GENERAL */
.pull-left { float: left!important }
.pull-right { float: right!important }
.img-circle { border-radius: 50% }
.margin-r-5 { margin-right: 5px }
.center-img { display: block; margin: 0 auto; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-social-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 16px;
}
.btn-vk {
  padding: 0;
  color: #fff;
  background-color: #587ea3;
  border: 1px solid #2c5073;
}
.btn-vk:hover {background-color: #4e7498}
.btn-default {
  color: #444;
  background-color: #f4f4f4;
  border-color: #ddd;
}
.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.btn-danger {
  background-color: #dd4b39;
  border-color: #d73925;
}
.btn-block {
  display: block;
  width: 100%;
}
.fa-vk {
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
}

/* COLORS SCHEMAS */
.label-success { background-color: #00a65a !important }
.label-warning { background-color: #f39c12 !important }
.label-danger { background-color: #dd4b39 !important }
.label-info { background-color: #00c0ef !important }
.label-primary { background-color: #3c8dbc !important }

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* NORMALIZE */
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
/* BOOTSTRAP */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.form-group {margin-bottom: 15px}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left }
.col-xs-12 { width: 100% }
.col-xs-11 { width: 91.66666667% }
.col-xs-10 { width: 83.33333333% }
.col-xs-9 { width: 75% }
.col-xs-8 { width: 66.66666667% }
.col-xs-7 { width: 58.33333333% }
.col-xs-6 { width: 50% }
.col-xs-5 { width: 41.66666667% }
.col-xs-4 { width: 33.33333333% }
.col-xs-3 { width: 25% }
.col-xs-2 { width: 16.66666667% }
.col-xs-1 { width: 8.33333333% }
.col-xs-pull-12 { right: 100% }
.col-xs-pull-11 { right: 91.66666667% }
.col-xs-pull-10 { right: 83.33333333% }
.col-xs-pull-9 { right: 75% }
.col-xs-pull-8 { right: 66.66666667% }
.col-xs-pull-7 { right: 58.33333333% }
.col-xs-pull-6 { right: 50% }
.col-xs-pull-5 { right: 41.66666667% }
.col-xs-pull-4 { right: 33.33333333% }
.col-xs-pull-3 { right: 25% }
.col-xs-pull-2 { right: 16.66666667% }
.col-xs-pull-1 { right: 8.33333333% }
.col-xs-pull-0 { right: auto }
.col-xs-push-12 { left: 100% }
.col-xs-push-11 { left: 91.66666667% }
.col-xs-push-10 { left: 83.33333333% }
.col-xs-push-9 { left: 75% }
.col-xs-push-8 { left: 66.66666667% }
.col-xs-push-7 { left: 58.33333333% }
.col-xs-push-6 { left: 50% }
.col-xs-push-5 { left: 41.66666667% }
.col-xs-push-4 { left: 33.33333333% }
.col-xs-push-3 { left: 25% }
.col-xs-push-2 { left: 16.66666667% }
.col-xs-push-1 { left: 8.33333333% }
.col-xs-push-0 { left: auto }
.col-xs-offset-12 { margin-left: 100% }
.col-xs-offset-11 { margin-left: 91.66666667% }
.col-xs-offset-10 { margin-left: 83.33333333% }
.col-xs-offset-9 { margin-left: 75% }
.col-xs-offset-8 { margin-left: 66.66666667% }
.col-xs-offset-7 { margin-left: 58.33333333% }
.col-xs-offset-6 { margin-left: 50% }
.col-xs-offset-5 { margin-left: 41.66666667% }
.col-xs-offset-4 { margin-left: 33.33333333% }
.col-xs-offset-3 { margin-left: 25% }
.col-xs-offset-2 { margin-left: 16.66666667% }
.col-xs-offset-1 { margin-left: 8.33333333% }
.col-xs-offset-0 { margin-left: 0 }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left }
  .col-sm-12 { width: 100% }
  .col-sm-11 { width: 91.66666667% }
  .col-sm-10 { width: 83.33333333% }
  .col-sm-9 { width: 75% }
  .col-sm-8 { width: 66.66666667% }
  .col-sm-7 { width: 58.33333333% }
  .col-sm-6 { width: 50% }
  .col-sm-5 { width: 41.66666667% }
  .col-sm-4 { width: 33.33333333% }
  .col-sm-3 { width: 25% }
  .col-sm-2 { width: 16.66666667% }
  .col-sm-1 { width: 8.33333333% }
  .col-sm-pull-12 { right: 100% }
  .col-sm-pull-11 { right: 91.66666667% }
  .col-sm-pull-10 { right: 83.33333333% }
  .col-sm-pull-9 { right: 75% }
  .col-sm-pull-8 { right: 66.66666667% }
  .col-sm-pull-7 { right: 58.33333333% }
  .col-sm-pull-6 { right: 50% }
  .col-sm-pull-5 { right: 41.66666667% }
  .col-sm-pull-4 { right: 33.33333333% }
  .col-sm-pull-3 { right: 25% }
  .col-sm-pull-2 { right: 16.66666667% }
  .col-sm-pull-1 { right: 8.33333333% }
  .col-sm-pull-0 { right: auto }
  .col-sm-push-12 { left: 100% }
  .col-sm-push-11 { left: 91.66666667% }
  .col-sm-push-10 { left: 83.33333333% }
  .col-sm-push-9 { left: 75% }
  .col-sm-push-8 { left: 66.66666667% }
  .col-sm-push-7 { left: 58.33333333% }
  .col-sm-push-6 { left: 50% }
  .col-sm-push-5 { left: 41.66666667% }
  .col-sm-push-4 { left: 33.33333333% }
  .col-sm-push-3 { left: 25% }
  .col-sm-push-2 { left: 16.66666667% }
  .col-sm-push-1 { left: 8.33333333% }
  .col-sm-push-0 { left: auto }
  .col-sm-offset-12 { margin-left: 100% }
  .col-sm-offset-11 { margin-left: 91.66666667% }
  .col-sm-offset-10 { margin-left: 83.33333333% }
  .col-sm-offset-9 { margin-left: 75% }
  .col-sm-offset-8 { margin-left: 66.66666667% }
  .col-sm-offset-7 { margin-left: 58.33333333% }
  .col-sm-offset-6 { margin-left: 50% }
  .col-sm-offset-5 { margin-left: 41.66666667% }
  .col-sm-offset-4 { margin-left: 33.33333333% }
  .col-sm-offset-3 { margin-left: 25% }
  .col-sm-offset-2 { margin-left: 16.66666667% }
  .col-sm-offset-1 { margin-left: 8.33333333% }
  .col-sm-offset-0 { margin-left: 0 }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left }
  .col-md-12 { width: 100% }
  .col-md-11 { width: 91.66666667% }
  .col-md-10 { width: 83.33333333% }
  .col-md-9 { width: 75% }
  .col-md-8 { width: 66.66666667% }
  .col-md-7 { width: 58.33333333% }
  .col-md-6 { width: 50% }
  .col-md-5 { width: 41.66666667% }
  .col-md-4 { width: 33.33333333% }
  .col-md-3 { width: 25% }
  .col-md-2 { width: 16.66666667% }
  .col-md-1 { width: 8.33333333% }
  .col-md-pull-12 { right: 100% }
  .col-md-pull-11 { right: 91.66666667% }
  .col-md-pull-10 { right: 83.33333333% }
  .col-md-pull-9 { right: 75% }
  .col-md-pull-8 { right: 66.66666667% }
  .col-md-pull-7 { right: 58.33333333% }
  .col-md-pull-6 { right: 50% }
  .col-md-pull-5 { right: 41.66666667% }
  .col-md-pull-4 { right: 33.33333333% }
  .col-md-pull-3 { right: 25% }
  .col-md-pull-2 { right: 16.66666667% }
  .col-md-pull-1 { right: 8.33333333% }
  .col-md-pull-0 { right: auto }
  .col-md-push-12 { left: 100% }
  .col-md-push-11 { left: 91.66666667% }
  .col-md-push-10 { left: 83.33333333% }
  .col-md-push-9 { left: 75% }
  .col-md-push-8 { left: 66.66666667% }
  .col-md-push-7 { left: 58.33333333% }
  .col-md-push-6 { left: 50% }
  .col-md-push-5 { left: 41.66666667% }
  .col-md-push-4 { left: 33.33333333% }
  .col-md-push-3 { left: 25% }
  .col-md-push-2 { left: 16.66666667% }
  .col-md-push-1 { left: 8.33333333% }
  .col-md-push-0 { left: auto }
  .col-md-offset-12 { margin-left: 100% }
  .col-md-offset-11 { margin-left: 91.66666667% }
  .col-md-offset-10 { margin-left: 83.33333333% }
  .col-md-offset-9 { margin-left: 75% }
  .col-md-offset-8 { margin-left: 66.66666667% }
  .col-md-offset-7 { margin-left: 58.33333333% }
  .col-md-offset-6 { margin-left: 50% }
  .col-md-offset-5 { margin-left: 41.66666667% }
  .col-md-offset-4 { margin-left: 33.33333333% }
  .col-md-offset-3 { margin-left: 25% }
  .col-md-offset-2 { margin-left: 16.66666667% }
  .col-md-offset-1 { margin-left: 8.33333333% }
  .col-md-offset-0 { margin-left: 0 }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left }
  .col-lg-12 { width: 100% }
  .col-lg-11 { width: 91.66666667% }
  .col-lg-10 { width: 83.33333333% }
  .col-lg-9 { width: 75% }
  .col-lg-8 { width: 66.66666667% }
  .col-lg-7 { width: 58.33333333% }
  .col-lg-6 { width: 50% }
  .col-lg-5 { width: 41.66666667% }
  .col-lg-4 { width: 33.33333333% }
  .col-lg-3 { width: 25% }
  .col-lg-2 { width: 16.66666667% }
  .col-lg-1 { width: 8.33333333% }
  .col-lg-pull-12 { right: 100% }
  .col-lg-pull-11 { right: 91.66666667% }
  .col-lg-pull-10 { right: 83.33333333% }
  .col-lg-pull-9 { right: 75% }
  .col-lg-pull-8 { right: 66.66666667% }
  .col-lg-pull-7 { right: 58.33333333% }
  .col-lg-pull-6 { right: 50% }
  .col-lg-pull-5 { right: 41.66666667% }
  .col-lg-pull-4 { right: 33.33333333% }
  .col-lg-pull-3 { right: 25% }
  .col-lg-pull-2 { right: 16.66666667% }
  .col-lg-pull-1 { right: 8.33333333% }
  .col-lg-pull-0 { right: auto }
  .col-lg-push-12 { left: 100% }
  .col-lg-push-11 { left: 91.66666667% }
  .col-lg-push-10 { left: 83.33333333% }
  .col-lg-push-9 { left: 75% }
  .col-lg-push-8 { left: 66.66666667% }
  .col-lg-push-7 { left: 58.33333333% }
  .col-lg-push-6 { left: 50% }
  .col-lg-push-5 { left: 41.66666667% }
  .col-lg-push-4 { left: 33.33333333% }
  .col-lg-push-3 { left: 25% }
  .col-lg-push-2 { left: 16.66666667% }
  .col-lg-push-1 { left: 8.33333333% }
  .col-lg-push-0 { left: auto }
  .col-lg-offset-12 { margin-left: 100% }
  .col-lg-offset-11 { margin-left: 91.66666667% }
  .col-lg-offset-10 { margin-left: 83.33333333% }
  .col-lg-offset-9 { margin-left: 75% }
  .col-lg-offset-8 { margin-left: 66.66666667% }
  .col-lg-offset-7 { margin-left: 58.33333333% }
  .col-lg-offset-6 { margin-left: 50% }
  .col-lg-offset-5 { margin-left: 41.66666667% }
  .col-lg-offset-4 { margin-left: 33.33333333% }
  .col-lg-offset-3 { margin-left: 25% }
  .col-lg-offset-2 { margin-left: 16.66666667% }
  .col-lg-offset-1 { margin-left: 8.33333333% }
  .col-lg-offset-0 { margin-left: 0 }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
